<!DOCTYPE html>
<html>
<title>Pet Adoption</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./CSS/W3S/w3.css">
<link rel="stylesheet" href="./CSS/W3S/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./CSS/Bootstrap/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>-->

<link href="https://fonts.googleapis.com/css?family=Athiti&display=swap" rel="stylesheet">
<link rel="stylesheet" href="CSS/CustomCss.css">

<style>
    .activity-content-link {
        text-decoration: none;
        color: black;
    }

    .activity-content-link:hover {
        color: black;
    }

    .colorActivity {
        background-color: #E2E0E0;

    }
</style>

<body id="myPage">



    <!-- Navbar -->
    <div id="menu" class="w3-top" style="display: block;">
        <div class="w3-bar w3-white w3-card">
            <a class="w3-bar-item w3-button  w3-hide-large w3-right w3-hover-white" href="javascript:void(0);"
                onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="#" style="font-size: 20px;" class="w3-bar-item w3-button w3-white"><img width="50"
                    src="./Images/icon/Logo.png"></a>
            <div style="margin-top: 10px;" class="w3-right w3-hide-medium w3-hide-small w3-animate-right">
              <a href="" style="font-size: 20px;"
                  class=" w3-bar-item w3-button w3-hide-medium w3-hide-small"><b>เขียนกิจกรรม</b></a>
              <a href="" style="font-size: 20px;"
                  class=" w3-bar-item w3-button w3-hide-medium w3-hide-small"><b>ขอรับบริจาค</b></a>
              <a href="" style="font-size: 20px;"
                  class=" w3-bar-item w3-button w3-hide-medium w3-hide-small"><b>เขียนโพสต์</b></a>
                <a href="" style="font-size: 20px;"
                    class=" w3-bar-item w3-button w3-hide-medium w3-hide-small"><b>สัตว์เลี้ยง</b></a>
                <a href="" style="font-size: 20px;"
                    class=" w3-bar-item w3-button w3-hide-medium w3-hide-small"><b>บริจาค</b></a>
                <a href="" style="font-size: 20px;"
                    class="w3-bar-item w3-button w3-hide-medium w3-hide-small"><b>กิจกรรม</b></a>
                <a href="" style="font-size: 20px;"
                        class="w3-bar-item w3-button w3-hide-medium w3-hide-small"><img src="./Images/source/2.png" style="width: 45px;height: auto;"/></a>
                <a href="" style="font-size: 20px;"
                        class="w3-bar-item w3-button w3-hide-medium w3-hide-small"><font color="#ac00e6"><b>James Logan</b></font></a>
                <a href="#" style="font-size:18px; margin-right: 10px;" onclick="hideNav()"
                    class="w3-black w3-circle w3-bar-item w3-button w3-hide-small w3-hide-medium w3-right"
                    title="Search"><i class="fa fa-search"></i></a>
            </div>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large ">
          <a href="#team " class="w3-bar-item w3-button ">เขียนกิจกรรม</a>
            <a href="#team " class="w3-bar-item w3-button ">ขอบริจาค</a>
            <a href="#team " class="w3-bar-item w3-button ">เขียนโพสต์</a>
            <a href="#team " class="w3-bar-item w3-button ">สัตว์เลี้ยง</a>
            <a href="#team " class="w3-bar-item w3-button ">บริจาค</a>
            <a href="#work " class="w3-bar-item w3-button ">กิจกรรม</a>
        </div>
    </div>



    <!-- Navbar Search Hide-->
    <div id="searchMenu" class="w3-top" style="display: none;">
        <div class="w3-bar w3-white w3-card">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white"
                href="javascript:void(0);" onclick="openNav2()"><i class="fa fa-bars"></i></a>
            <a href="#" style="font-size: 20px;" class="w3-bar-item w3-button w3-white"><img width="50"
                    src="./Images/icon/Logo.png"></a>
            <div style="margin-top: 10px;" class="w3-center w3-hide-small w3-animate-left">
                <input class="simpleSearch" placeholder="ค้นหา" style="font-size: 20px;" size="100" type="text" />
                <a href="#" style="font-size:18px; " onclick="hideNav()"
                    class=" w3-black w3-button w3-hide-small w3-circle" title="Search"><i class="fa fa-search"></i></a>
                <a href="#" style="font-size:18px; margin-right: 10px;margin-bottom: 4px;" onclick="showNav()"
                    class="w3-black w3-bar-item w3-button w3-hide-small w3-right w3-circle" title="Search"><i
                        class="fa fa-close"></i></a>
            </div>
        </div>



        <!-- Navbar on small screens case Search-->
        <div id="navDemo2" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
          <a href="#team " class="w3-bar-item w3-button ">เขียนกิจกรรม</a>
            <a href="#team " class="w3-bar-item w3-button ">ขอบริจาค</a>
            <a href="#team " class="w3-bar-item w3-button ">เขียนโพสต์</a>
            <a href="#team " class="w3-bar-item w3-button ">สัตว์เลี้ยง</a>
            <a href="#team " class="w3-bar-item w3-button ">บริจาค</a>
            <a href="#work " class="w3-bar-item w3-button ">กิจกรรม</a>

        </div>
    </div>

    <!--header text and image of activity-->
    <center>
      <br>
        <div class="w3-container" style="margin-top:40px;display:inline-block">
            <img src="./Images/icon/cat.png" alt="" srcset="" width="50px">
            <div style="display:inline-block;">
                <p style="font-size: 30px;font-weight:bold;vertical-align: middle;">กิจกรรม</p>
            </div>
        </div>
    </center>
    <!--end header text and image of activity-->


    <div class="w3-container ">

        <!--row of half content activity-->

        <div class="w3-row">
            <!--row  half left side-->

            <div class="w3-half" style="padding: 10px;">
                <a href="activityDetail" class="activity-content-link">
                    <div class="w3-half colorActivity" style="height: 210px;">
                        <img src="./Images/new1.jpg" alt="" srcset="" width="100%" height="auto" style="height: 210px;">
                    </div> <!-- end of img -->


                    <div class="w3-half colorActivity" style="height: 210px;">

                        <!--img and text side by side-->
                        <div style="margin-top: 5px;float: left;">
                            <div style="display:inline-block">
                                <img src="./Images/new1.jpg" alt="" srcset="" width="100%"
                                    style="border-radius: 100%;width: 20px;height: 20px;float: left;margin-right: 5px;margin-left:5px;">
                            </div>
                            <div style="display:inline-block">
                                <h6 class="w3-left" style="font-size: 14px;">Jame Logan</h6>
                            </div>
                        </div><!-- end of img and text side by side-->

                        <p style="font-size: 1em;clear: both;">It is a long established fact that a reader will be
                            distracted by the
                            readable content of a page
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                            normal
                            distribution of letters, as opposed to using 'Content here, content here', making it look
                            like
                            readable.
                        </p>
                </a></div><!-- end of text -->
        </div> <!-- end of row  half left side-->

        <!--row  half right side-->

        <div class="w3-half" style="padding: 10px;">
            <a href="activityDetail" class="activity-content-link">
                <div class="w3-half colorActivity" style="height: 210px;">
                    <img src="./Images/new1.jpg" alt="" srcset="" width="100%" height="auto" style="height: 210px;">
                </div> <!-- end of img -->


                <div class="w3-half colorActivity" style="height: 210px;">

                    <!--img and text side by side-->
                    <div style="margin-top: 5px;float: left;">
                        <div style="display:inline-block">
                            <img src="./Images/new1.jpg" alt="" srcset="" width="100%"
                                style="border-radius: 100%;width: 20px;height: 20px;float: left;margin-right: 5px;margin-left:5px;">
                        </div>
                        <div style="display:inline-block">
                            <h6 class="w3-left" style="font-size: 14px;">Jame Logan</h6>
                        </div>
                    </div><!-- end of img and text side by side-->

                    <p style="font-size: 1em;clear: both;">It is a long established fact that a reader will be
                        distracted by the
                        readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look
                        like
                        readable.
                    </p>
            </a></div><!-- end of text -->
    </div> <!-- end of row  half right side-->

    </div>
    <!--end of row of half content activity-->
    </div>
    </div>
    <!--end of container-->

    <div class="w3-container ">

        <!--row of half content activity-->

        <div class="w3-row">
            <!--row  half left side-->

            <div class="w3-half" style="padding: 10px;">
                <a href="activityDetail" class="activity-content-link">
                    <div class="w3-half colorActivity" style="height: 210px;">
                        <img src="./Images/new1.jpg" alt="" srcset="" width="100%" height="auto" style="height: 210px;">
                    </div> <!-- end of img -->


                    <div class="w3-half colorActivity" style="height: 210px;">

                        <!--img and text side by side-->
                        <div style="margin-top: 5px;float: left;">
                            <div style="display:inline-block">
                                <img src="./Images/new1.jpg" alt="" srcset="" width="100%"
                                    style="border-radius: 100%;width: 20px;height: 20px;float: left;margin-right: 5px;margin-left:5px;">
                            </div>
                            <div style="display:inline-block">
                                <h6 class="w3-left" style="font-size: 14px;">Jame Logan</h6>
                            </div>
                        </div><!-- end of img and text side by side-->

                        <p style="font-size: 1em;clear: both;">It is a long established fact that a reader will be
                            distracted by the
                            readable content of a page
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                            normal
                            distribution of letters, as opposed to using 'Content here, content here', making it look
                            like
                            readable.
                        </p>
                </a></div><!-- end of text -->
        </div> <!-- end of row  half left side-->

        <!--row  half right side-->

        <div class="w3-half" style="padding: 10px;">
            <a href="activityDetail" class="activity-content-link">
                <div class="w3-half colorActivity" style="height: 210px;">
                    <img src="./Images/new1.jpg" alt="" srcset="" width="100%" height="auto" style="height: 210px;">
                </div> <!-- end of img -->


                <div class="w3-half colorActivity" style="height: 210px;">

                    <!--img and text side by side-->
                    <div style="margin-top: 5px;float: left;">
                        <div style="display:inline-block">
                            <img src="./Images/new1.jpg" alt="" srcset="" width="100%"
                                style="border-radius: 100%;width: 20px;height: 20px;float: left;margin-right: 5px;margin-left:5px;">
                        </div>
                        <div style="display:inline-block">
                            <h6 class="w3-left" style="font-size: 14px;">Jame Logan</h6>
                        </div>
                    </div><!-- end of img and text side by side-->

                    <p style="font-size: 1em;clear: both;">It is a long established fact that a reader will be
                        distracted by the
                        readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look
                        like
                        readable.
                    </p>
            </a></div><!-- end of text -->
    </div> <!-- end of row  half right side-->

    </div>
    <!--end of row of half content activity-->
    </div>
    </div>
    <!--end of container-->

    <div class="w3-container">

        <!--row of half content activity-->

        <div class="w3-row">
            <!--row  half left side-->

            <div class="w3-half" style="padding: 10px;">
                <a href="activityDetail" class="activity-content-link">
                    <div class="w3-half colorActivity" style="height: 210px;">
                        <img src="./Images/new1.jpg" alt="" srcset="" width="100%" height="auto" style="height: 210px;">
                    </div> <!-- end of img -->


                    <div class="w3-half colorActivity" style="height: 210px;">

                        <!--img and text side by side-->
                        <div style="margin-top: 5px;float: left;">
                            <div style="display:inline-block">
                                <img src="./Images/new1.jpg" alt="" srcset="" width="100%"
                                    style="border-radius: 100%;width: 20px;height: 20px;float: left;margin-right: 5px;margin-left:5px;">
                            </div>
                            <div style="display:inline-block">
                                <h6 class="w3-left" style="font-size: 14px;">Jame Logan</h6>
                            </div>
                        </div><!-- end of img and text side by side-->

                        <p style="font-size: 1em;clear: both;">It is a long established fact that a reader will be
                            distracted by the
                            readable content of a page
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                            normal
                            distribution of letters, as opposed to using 'Content here, content here', making it look
                            like
                            readable.
                        </p>
                </a></div><!-- end of text -->
        </div> <!-- end of row  half left side-->

        <!--row  half right side-->

        <div class="w3-half" style="padding: 10px;">
            <a href="activityDetail" class="activity-content-link">
                <div class="w3-half colorActivity" style="height: 210px;">
                    <img src="./Images/new1.jpg" alt="" srcset="" width="100%" height="auto" style="height: 210px;">
                </div> <!-- end of img -->


                <div class="w3-half colorActivity" style="height: 210px;">

                    <!--img and text side by side-->
                    <div style="margin-top: 5px;float: left;">
                        <div style="display:inline-block">
                            <img src="./Images/new1.jpg" alt="" srcset="" width="100%"
                                style="border-radius: 100%;width: 20px;height: 20px;float: left;margin-right: 5px;margin-left:5px;">
                        </div>
                        <div style="display:inline-block">
                            <h6 class="w3-left" style="font-size: 14px;">Jame Logan</h6>
                        </div>
                    </div><!-- end of img and text side by side-->

                    <p style="font-size: 1em;clear: both;">It is a long established fact that a reader will be
                        distracted by the
                        readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look
                        like
                        readable.
                    </p>
            </a></div><!-- end of text -->
    </div> <!-- end of row  half right side-->

    </div>
    <!--end of row of half content activity-->
    </div>
    </div>
    <!--end of container-->

    <!--end Content-->
    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center ">
        <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Facebook "><i
                class="fa fa-facebook "></i></a>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Twitter "><i
                class="fa fa-twitter "></i></a>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Google + "><i
                class="fa fa-google-plus "></i></a>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Google + "><i
                class="fa fa-instagram "></i></a>
        <a class="w3-button w3-large w3-teal w3-hide-small " href="javascript:void(0) " title="Linkedin "><i
                class="fa fa-linkedin "></i></a>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp " target="_blank ">w3.css</a></p>

        <div style="position:relative;bottom:100px;z-index:1; " class="w3-tooltip w3-right ">
            <span class="w3-text w3-padding w3-teal w3-hide-small ">Go To Top</span>
            <a class="w3-button w3-theme " href="#myPage "><span class="w3-xlarge ">
                    <i class="fa fa-chevron-circle-up "></i></span></a>
        </div>
    </footer>

    <script>
        // Script for side navigation
        function w3_open() {
            var x = document.getElementById("mySidebar ");
            x.style.width = "300px ";
            x.style.paddingTop = "10% ";
            x.style.display = "block ";
        }

        // Close side navigation
        function w3_close() {
            document.getElementById("mySidebar ").style.display = "none ";
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");

            if (x.className.indexOf("w3-show ") == -1) {
                x.className += " w3-show ";

            } else {
                x.className = x.className.replace(" w3-show ", " ");

            }


        }

        function openNav2() {

            var y = document.getElementById("navDemo2");
            if (y.className.indexOf("w3-show ") == -1) {
                y.className += " w3-show ";

            } else {
                y.className = y.className.replace(" w3-show ", " ");

            }




        }
    </script>

  </body>



  </html>



  <script>
    function hideNav() {
        document.getElementById("menu").style.display = "none";
        document.getElementById("searchMenu").style.display = "block";

    }


    function showNav() {
        document.getElementById("menu").style.display = "block";
        document.getElementById("searchMenu").style.display = "none";


    }
  </script>
